<div class="dynamo-spinner-wrapper" *ngIf="!loadingDone;">
  <mat-spinner aria-label="book-grid-spinner"></mat-spinner>
</div>
<div *ngIf="loadingDone;" class="content-wrapper">
  <div class="row">
    <div class="auto">
      <h1 id="titleHeader">Book Dynamo</h1>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
      <mat-form-field class="form-field">
        <mat-label>Search Books</mat-label>
        <input matInput type="text" [(ngModel)]="searchValue">
        <button mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
          <mat-icon>clear</mat-icon>
        </button>
        <button mat-button  matSuffix mat-icon-button aria-label="search">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
</div>
  <mat-grid-list cols="2" rowHeight="2:1" >
    <mat-grid-tile *ngFor="let bookEntry of bookEntries" (click)="tileClick(bookEntry);">
      <app-book></app-book>
    </mat-grid-tile>
</mat-grid-list>
</div>

