
<div #contentWrapper class="contentWrapper" (window:resize)="onResize($event)">
  <div class="row">
    <div class="auto">
      <h1 id="titleHeader">Book Dynamo</h1>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
      <mat-form-field class="formField">
        <mat-label>Search Books</mat-label>
        <input matInput type="text" (keyup)="searchValue = $event.target.value" (keyup.enter)="textSearchBooks();">
        <button mat-button  matSuffix mat-icon-button aria-label="search" (click)="textSearchBooks();">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
</div>
<mat-paginator #paginator [length]="pageLength"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event">
  </mat-paginator>
<div class="gridListAreaWrapper" *ngIf="loadingDone;">
  <!-- only for the first page. There might be a better solution. -->
  <mat-grid-list [cols]="gridCols" rowHeight="80px" *ngIf="pageEvent === undefined && bookEntries !== undefined">
    <mat-grid-tile *ngFor="let bookEntry of bookEntries.slice(0,50);" (click)="tileClick(bookEntry);">
      <app-book [bookEntry]="bookEntry"></app-book>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- after the paging has been activated and pageEvent is no longer undefined. -->
  <mat-grid-list [cols]="gridCols" rowHeight="80px" *ngIf="pageEvent !== undefined">
    <mat-grid-tile *ngFor="let bookEntry of bookEntries.slice((pageEvent.pageSize * pageEvent.pageIndex),(pageEvent.pageSize * pageEvent.pageIndex) + pageEvent.pageSize);" (click)="tileClick(bookEntry);">
      <app-book [bookEntry]="bookEntry"></app-book>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- in case there is no search result or no data yet -->
  <div class="noResultsWrapper" *ngIf="bookEntries == undefined || bookEntries.length == 0">
    <span>Nothing to see here yet with current search value. Type a book's or an author's name to the search input above. Then press magnifying glass or press enter to get books.</span>
  </div>
</div>
<div class="dynamoSpinnerWrapper" *ngIf="!loadingDone;">
  <mat-spinner aria-label="bookGridSpinner"></mat-spinner>
</div>
</div>

