mat-grid-tile {
    background: lightblue;
    opacity: 0.4;
}

.form-field {
  width: 250px;
}

.dynamo-spinner-wrapper{
  z-index: 1;
}

.content-wrapper{
  z-index: 1;
  width:90%;
  height:90%;
  overflow-y: auto;
  margin: 0 auto;
  margin-top:60px;
}

#titleHeader{
  overflow: hidden;
  margin-bottom: 0;
  margin-right: 1rem;
  margin-left: 1rem;
  height:37px;
  padding-top:13px;
}
